<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-flat-button color="primary" [routerLink]="['/']">
      <mat-icon>face</mat-icon>
      靈魂頑童
    </button>
    <button mat-flat-button color="primary" [routerLink]="['/student']" routerLinkActive="router-link-active">學生</button>
    <button mat-flat-button color="primary" [routerLink]="['/teacher']" routerLinkActive="router-link-active">老師</button>
    <button mat-flat-button color="primary" [routerLink]="['/course']" routerLinkActive="router-link-active">課程</button>
  </mat-toolbar-row>
</mat-toolbar>
